
#logoContainer {
    text-align: center;
    margin-bottom: 20px;
}

#logo {
    max-width: 200px;
    height: auto;
}

#dogsContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}

#dogsContainer > div {
    margin: 10px;
    text-align: center;
    font-size: 18px;
}

img {
    width: 400px;
    height: 400px;
    object-fit: cover;
}

button {
    padding: 10px;
    font-size: 16px;
}
